@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

body {
	font-family: arial;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: Pacifico, cursive;
	font-weight: normal;
}

button {
	padding: 10px;
	font-size: 16px;
	user-select: none;
	cursor: pointer;
}