@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
	font-family: consolas;
	box-sizing: border-box;
	font-size: 16px;
	background: rgb(4,0,66);
	background: linear-gradient(90deg, rgba(4,0,66,0.8491771708683473) 0%, rgba(19,137,207,1) 35%, rgba(0,212,255,1) 100%);
}

/* h1, h2, h3 {
	font-family: Pacifico, cursive;
	font-weight: normal;
} */

button {
	padding: 10px;
	font-size: 16px;
	user-select: none;
	cursor: pointer;
}

.container {
	background: white;
	max-width: 500px;
	width: 80vw;
	height: auto;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: rgb(35, 35, 35) 5px 5px 18px;
	padding: 15px;
}

.radius {
	border-radius: 15px;
}
