@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
	--margin-form: 15px;
	--widthInput: 96%;
	--heigthInput: 30px;
	--radius: 15px;
}

body {
	font-family: consolas;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 22px;
	background: rgb(4,0,66);
	background: linear-gradient(90deg, #665fccd8 0%, rgba(19,137,207,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
	background: white;
	width: 80vw;
	max-width: 600px;
	height: auto;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	box-shadow: rgba(61, 61, 61, 0.669) 5px 5px 18px;
	overflow: auto;
}

.textCenter {
	text-align: center;
}

.radius {
	border-radius: var(--radius);
}


/* CONTEUDO */
div.img {
	text-align: center;
	width: 100%;
}

.img img {
	width: 80%;
	max-width: 250px;
	border-radius: 100%;
}

h1.title {
	text-align: center;
}

.msg {
	background-color: rgba(240, 240, 240, 0.664);
	padding: 15px;
	max-width: 500px;
	margin: auto;
	font-size: 13px;
	margin-bottom: 20px;
	box-shadow: rgb(116, 116, 116) 3px 3px 10px;
}

.msg img {
	float: left;
	margin-right: 20px;
	width: 60px;
}

.code {
	background: rgba(206, 206, 206, 0.658);
	border-radius: 6px;
	padding-left: 6px;
	padding-right: 6px;
	font-style: normal;
}

.descricao {
	font-style: italic;
}

h1, h2, h3 {
	line-height: normal;
	font-weight: normal;
}

select, input {
	display: block;

	height: var(--heigthInput);
	width: var(--widthInput);
	max-width: 185px;

	margin-top: var(--margin-form);
	padding-left: 15px;

	border: 1px solid;
	border-radius: var(--radius);
	outline: none;
}

option {
	font-size: 14px;
}

button {
	height: var(--heigthInput);
	min-width: 100px;

	margin-top: var(--margin-form);
	border: solid 1px;
	border-radius: var(--radius);
	
	font-size: 14px;
	user-select: none;
	cursor: pointer;
}

#result {
	font-style: italic;
}

.creditos, .creditos a:visited, .creditos a:link {
	color: rgb(160, 160, 160);
}

/* CONTEUDO */


@media only screen and (min-width: 1400px) {
	body {
		font-size: 22px;
		line-height: 28px;
	}

	.msg {
		font-size: 18px;
	}
}

/* @media only screen and (min-width: 320px) {
	
} */