@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
	font-family: consolas;
	box-sizing: border-box;
	font-size: 16px;
	line-height: 22px;
	background: rgb(4,0,66);
	background: linear-gradient(90deg, rgba(4,0,66,0.8491771708683473) 0%, rgba(19,137,207,1) 35%, rgba(0,212,255,1) 100%);
}

.container {
	background: white;
	width: 80vw;
	max-width: 600px;
	height: auto;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 15px;
	box-shadow: rgb(35, 35, 35) 5px 5px 18px;
	overflow: auto;
}

.radius {
	border-radius: 15px;
}


/* CONTEUDO */

h1.title {
	text-align: center;
}

.msg {
	background-color: rgba(240, 240, 240, 0.664);
	padding: 15px;
	max-width: 500px;
	margin: auto;
	font-size: 13px;
	margin-bottom: 20px;
	box-shadow: rgb(116, 116, 116) 3px 3px 10px;
}

.msg img {
	float: left;
	margin-right: 20px;
	width: 60px;
}

.code {
	background: rgba(206, 206, 206, 0.658);
	border-radius: 6px;
	padding-left: 6px;
	padding-right: 6px;
	font-style: normal;
}

.descricao {
	font-style: italic;
}

h1, h2, h3 {
	line-height: normal;
	font-weight: normal;
}

button {
	padding: 7px;
	font-size: 16px;
	border-radius: 20px;
	border: solid 1px;
	user-select: none;
	cursor: pointer;
}

.creditos, .creditos a:visited, .creditos a:link {
	color: rgb(160, 160, 160);
}


/* CONTEUDO */


@media only screen and (min-width: 1400px) {
	body {
		font-size: 22px;
		line-height: 28px;
	}

	.msg {
		font-size: 18px;
	}
}